<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="refresh()">
        <i class="bi bi-arrow-clockwise"></i> RECARREGAR
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Agência</th>
            <th scope="col">Número</th>
            <th class="text-end" scope="col">Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lista">
            <th scope="row">{{item.id}}</th>
            <td><a [routerLink]="['/transacoes', item.id]">{{item.nomeCliente}}</a></td>
            <td>{{item.numeroAgencia}}</td>
            <td>{{item.numeroConta}}</td>
            <td class="text-end">{{item.saldo | currency: 'BRL'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
